<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hg.book_mybatis.repository.BookMapper">
  
    <!-- 新規登録 -->
    <insert id="save">
        INSERT INTO books
        	(name, author, price, create_date, update_date)
        VALUES
        	(#{name}, #{author}, #{price}, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP)
    </insert>
    
    <!-- 全件検索 -->
    <select id="fetchAllBooks" resultType="com.hg.book_mybatis.entity.BookEntity">
    	SELECT * FROM books WHERE delete_date IS NULL
    </select>
</mapper>