<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head
	th:replace="common/head :: head_fragment(title = 'Home', links = ~{::link}, scripts = ~{::script})"></head>
<body>
	<nav th:replace="common/navbar :: nav_fragment(home='/',availableBook='available_books',myBook='my_books',register='book_register')"></nav>
	
	<div class="container text-center my-5">
		<h1>WELLCOME TO BOOK STORE</h1>
		<h6>Ngày nay, những tiệm sách không còn chỉ là nơi để bán sách nữa. 
		Thay vào đó, những cửa tiệm được biến hóa, cải tiến thành những không gian đặc biệt nơi mọi người có thể đến để gặp gỡ, 
		thư giãn và trốn khỏi những áp lực thường ngày của cuộc sống thành thị. 
		Tiết trời ngày càng lạnh hơn rồi, hãy đến thăm những tiệm sách Seoul độc đáo này để thả lỏng cả cơ thể và tầm hồn.</h6>
		<img src="/images/book-1.jpg" class="img-fluid" alt="sach hay">
	</div>
	
</body>
</html>